body {
  background: url("../assets/Buddha.png") no-repeat top center fixed;
  background-size: auto 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #625c54;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 左侧目录样式 */
.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 50px;
  width: 200px;
  background-color: #eee;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  overflow-y: auto;
  /* 设置滚动条 */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  /* 去除下划线 */
  color: black;
}

/* 主内容样式 */
.main {
  background-color: #eee;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 50px;
  margin-left: 220px;
  margin-bottom: 50px;
  /* 让主内容区域向右偏移200px，避免被左侧目录遮挡 */
  padding: 20px;
}

/* 居中页脚样式 */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #625c54;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}